# .env

# Application environment
ENV=development

# Frontend URLs for different environments
DEV_FRONTEND_URL=http://localhost
PROD_FRONTEND_URL=http://3.25.72.5,http://ec2-54-253-184-54.ap-southeast-2.compute.amazonaws.com

# OpenAI API key
# Note: Replace with your actual OpenAI API key
OPENAI_API_KEY=YOUR_OPENAI_API_KEY