# .gitignore

# Dependencies
node_modules/
*.log*

# Environment variables
.env*

# Build output
dist/
build/
out/

# IDE/editor settings
.vscode/
.idea/
*.sw*

# OS and Git
.DS_Store
Thumbs.db
.git/

# Python artifacts
*.py[cod]
__pycache__/
*.so

# Not tracked because of large file size
# Download from below link
# https://mcauleylab.ucsd.edu/public_datasets/data/amazon_2023/raw/meta_categories/meta_Amazon_Fashion.jsonl.gz
etl/data


# Frontend specific ignores
frontend/node_modules/
frontend/.svelte-kit/