# .gitignore

# Dependencies
node_modules/
frontend/node_modules/

# Build artifacts
dist/
build/
out/
frontend/.svelte-kit/

# Environment variables
.env
!.env.example

# Logs
*.log*

# Editor and system files
.vscode/
.idea/
*.sw*
.DS_Store
Thumbs.db

# Git
.git/

# Python artifacts
__pycache__/
*.py[cod]
*.so

# Data
eda/data

# Keys
*.pem